.header {
  background-color: #4c0027;
  overflow: hidden;
}

html,body {
    background-color: #4c0027;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.header a {
  font-family: 'Ubuntu', sans-serif;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  padding-left: 30px;
  padding-bottom: 100px;
  text-decoration: none;
  font-size: 25px;
}

.welcome{
  padding-left: 30px;
  display: inline-flex;
  height: 80vh;
}

.welcome-text{
  max-width: 1000px;
  padding-right: 200px;
}

.welcome h2{
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  color: #e8afce;
}

.welcome h1{
  font-family: 'Roboto', sans-serif;
  font-size: 100px;
  color: #f2f2f2;
}

.welcome-image img{
  max-width: 600px;
}

#symptoms{
  background-color: #e8afce;
  width: 100%;
  margin: 0%;
  border: 0%;
  height: 100vh;
}
#symptoms h2{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
}
table{
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  padding: 20px;
  font-family: 'Roboto',sans-serif;
  font-size: 30px;
  text-align: center;
  border: 5px solid purple;
}

#tips{
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  margin: 0%;
  border: 0%;
}

#tips h2{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0%;
  margin-top: 0%;
}


.tip{
  border: 5px solid black;
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.tip img{
  max-height: 250px;
  padding-left: 20px;
}

.tip p{
  font-size: 70px;
  float: right;
  padding-right: 100px;
  font-family: 'Roboto',sans-serif;
}

#myths{
  background-color: #e8afce;
  width: 100%;
  margin: 0%;
  border: 0%;
  height: 100vh;
}

#myths h2{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0%;
  margin-top: 0%;
  color: black;
}

.myth-container{
  border: 2px solid purple; 
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.myth-container h4{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 40px;
  color: maroon;
}
.myth-container p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  color: black;
}

#youtube{
  width: 100%;
  margin: 0%;
  border: 0%;
  height: 88vh;
}

#youtube h2{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  padding-bottom: 200px;
  margin-bottom: 0%;
  margin-top: 0%;
  color: wheat;
}

.youtube-container{ 
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  padding-top: 50px;
}

#contact{
  background-color: #e8afce;
  width: 100%;
  margin: 0%;
  border: 0%;
  height: 10vh;
}
#contact p{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 20px;
  color: black;
}